@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,400&display=swap');

.p-fonts{
    font-family: 'Lumanosimo', cursive;
    font-size: 1.2rem;
}

h1{
    text-decoration: underline;
}

ul li a{
    text-decoration: none;
}