a{
    color: rgb(20, 22, 20);
}
a:link{
    color: rgb(77, 83, 18);
    text-decoration: none;
}
a:visited{
    color: red;
    font-size: 4rem;
}
a:hover{
    background-color: aqua;
    color: rgb(22, 22, 4);
    font-size: xx-large;
}
a:active{
    color: gold;
    background-color: black;
}
h1.baslik:hover{
    color: blue;
    background-color: yellow;
}

ul li{
    list-style-type: none;
}