<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tahmin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body style="background-color: rgb(94, 94, 112)">
    <div class="login container">
        <h1 style="color: white; text-align: center">Maaş Tahmini</h1>
        <br>
        <!-- Main Input For Receiving Query to our ML -->
        <form action="{{url_for('predict')}}" method="post" style="text-align: center;">
            <input  class="form-control" type="text" name="experience" placeholder="Tecrübe" required="required" aria-colcount="white" />
            <br />
            <br />
            <input class="form-control" type="text" name="test_score" placeholder="Test Sonucu" required="required" />
            <br />
            <br />
            <input class="form-control" type="text" name="interview_score" placeholder="Mülakat sonucu" required="required" />
            <br />
            <br />
            <button type="submit" class="btn btn-warning btn-block btn-large">Maaş Tahmini</button>
        </form>
        <br />
        <br />

        <p style="color: azure;">{{text}}</p>

        <br>
        <button class="btn btn-info" style="text-align: center;"><a href="/" style="text-align: center;">Yeni Tahmin</a></button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>