h1.baslik{
    color: blue;
}
.baslik{
    color: green;
}
h1{
    color: rgb(183, 226, 28) !important;
}

*{
    color:blueviolet;
}
h1.baslik.renk{
    color: red;
}
h1.baslik.renk.ilk{
    color: rgb(236, 70, 98);
}