/*bu bir yorum satiridir*/ 
nav.nav-el{
    color:black;
    background-color: lightgrey;
    text-align: center;
}
div.active{
    color:beige;
    background-color: rgb(39, 32, 32);
    padding: 0.8rem;
}