h1.baslik{
    font-family: 'Pangolin', cursive;
    font-style: normal;
    text-align: center;
    text-decoration: underline;
}

p.p-still{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    text-align: right;
    font-style: oblique;
}

span.s-still{
    font-style: italic;
    color: brown;
    background-color: aqua;
    text-decoration: underline;
}

ul li a{
    text-decoration: none;
    font-weight: 600;
    color: blue;
    
}