div.kutu1{
    background-color: yellow;
    font-size: x-large;
    margin-top: 2rem;
    margin-bottom: 30px;
}
div.kutu2{
    background-color: yellowgreen;
    font-size: x-large;
    padding: 3rem 5rem 4rem 7rem; /* 3rem saat12 yönü, 5rem saat3, 4rem saat6, 7rem saat9 yönü */
    
}